<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>Cоглашения</title>
    <link rel="manifest" href="/manifest.json" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
            OneSignal.init({
                appId: "cb29d800-22dc-4542-8f3a-4c9173bbe042",
            });
        });

    </script>
</head>

<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m, e, t, r, i, k, a) {
            m[i] = m[i] || function() {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(53512972, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });

    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/53512972" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139390565-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-139390565-1');

    </script>


    <div id="user_agreement">
        <h1>Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта
            www.home.umtechn.ru (далее — «Сайт»). </h1>
        <br><br>
        <h2>1.Общие условия</h2>
        <br><br>
        1.1. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской
        Федерации.
        <br>
        1.2. Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается
        присоединившимся к настоящему Соглашению.
        <br>
        1.3. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие
        изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При
        несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование
        материалов и сервисов Сайта.
        <br><br>
        <h2>2. Обязательства Пользователя</h2>
        <br><br>
        2.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское
        законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или
        смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и
        сервисов Сайта.
        <br>
        2.2. Использование материалов Сайта без согласия правообладателей не допускается (статья 1270 Г.К РФ). Для
        правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от
        Правообладателей.
        <br>
        2.3. При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна
        (подпункт 1 пункта 1 статьи 1274 Г.К РФ).
        <br>
        2.4. Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями
        законодательства Российской Федерации и общепринятых норм морали и нравственности.
        <br>
        2.5. Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование
        им внешних ресурсов, ссылки на которые могут содержаться на сайте.
        <br>
        2.6. Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных
        обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с
        любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами,
        доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил,
        используя размещенную на Сайте информацию или ссылки на внешние ресурсы.
        <br>
        2.7. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут
        сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и
        не имеет каких-либо обязательств в связи с такой рекламой.
        <br><br>
        <h2>3. Прочие условия</h2>
        <br><br>
        3.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в
        соответствии с действующим законодательством Российской Федерации.
        <br>
        3.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта агентских
        отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных
        отношений, прямо не предусмотренных Соглашением.
        <br>
        3.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению
        не влечет недействительности иных положений Соглашения.
        <br>
        3.4. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не
        лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту
        авторских прав на охраняемые в соответствии с законодательством материалы Сайта.
        <br>
        Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.
    </div>
    <div id="pda_agreement">
        <h1>СОГЛАШЕНИЕ ОБ ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h1>
        <p style="text-align: justify;">Данное соглашение об обработке персональных данных разработано в соответствии с
            законодательством Российской Федерации.</p>
        <p style="text-align: justify;">Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте <a href="{% url 'main' %}">https://home.umtechn.ru</a> (далее – Сайт), путем заполнения полей онлайн-заявки
            (регистрации) Пользователь выражает Согласие на согласие на обработку персональных данных и их передачу
            оператору обработки персональных данных – Экономическому факультету Московского государственного университета
            имени М.В. Ломоносова (Адрес местонахождения: Российская Федерация, 119991, г.Москва, Ленинские горы, дом 1,
            строение 46) (далее – Оператор), которому принадлежит Сайт, на следующих условиях.</p>
        <p style="text-align: justify;">Пользователь:</p>
        <ul>
            <li style="text-align: justify;">подтверждает, что все указанные им данные принадлежат лично ему,</li>
            <li style="text-align: justify;">подтверждает и признает, что им внимательно в полном объеме прочитано
                Соглашение и условия обработки его персональных данных, указываемых им в полях он-лайн заявки (регистрации),
                текст Соглашения и условия обработки персональных данных ему понятны;
            </li>
            <li style="text-align: justify;">выражает Согласие на обработку персональных данных без оговорок и ограничений
                (далее – Согласие). Моментом принятия Согласия является маркировка соответствующего поля в Форме и нажатие
                на кнопку отправки Формы на любой странице Сайта;
            </li>
            <li style="text-align: justify;">подтверждает, что, давая Согласие, он действует свободно, своей волей и в своем
                интересе;
            </li>
        </ul>
        Данное Согласие дается на обработку персональных данных как без использования средств автоматизации, так и с их
        использованием.
        <p style="text-align: justify;">Согласие дается на обработку следующих персональных данных Пользователя, указанных
            Пользователем в формах или в файлах, прикрепленных к формам:</p>
        <ul>
            <li style="text-align: justify;">Фамилия, имя, отчество;</li>
            <li style="text-align: justify;">Телефон;</li>
            <li style="text-align: justify;">Страна;</li>
            <li style="text-align: justify;">Город;</li>
            <li style="text-align: justify;">Сферы интересов, услуг и направлений;</li>
            <li style="text-align: justify;">Адрес электронной почты;</li>
            <li style="text-align: justify;">Иных персональных данных, указанных Пользователем в формах или файлах,
                прикрепленных к формам.
            </li>
        </ul>
        Целью обработки персональных данных является их хранение и использование, в том числе:
        <ul>
            <li style="text-align: justify;">Ответы на запросы Пользователей;</li>
            <li style="text-align: justify;">Обеспечение работы Пользователя с Сайтом Оператора;</li>
            <li style="text-align: justify;">Направление Пользователям аналитических материалов и информирование
                Пользователей о предстоящих мероприятиях, организуемых Оператором, а также регистрация Пользователей для
                участия в таких мероприятиях;
            </li>
            <li style="text-align: justify;">Заключение с Пользователем договора.</li>
        </ul>
        Пользователь, принимая условия настоящего Соглашения, выражает свою заинтересованность и дает полное согласие, что
        обработка его персональных данных включает в себя следующие действия: сбор, запись, систематизацию, накопление,
        хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление доступа),
        обезличивание, блокирование, удаление, уничтожение персональных данных.
        <p style="text-align: justify;">Согласие Пользователя на обработку персональных данных является конкретным,
            информированным и сознательным.</p>
        <p style="text-align: justify;">Настоящее Согласие Пользователя признается исполненным в простой письменной
            форме.</p>
        <p style="text-align: justify;">Согласие действует бессрочно с момента предоставления данных и может быть отозвано
            Пользователем путем подачи письменного заявления Оператору с указанием данных, определенных статьей 14
            Федерального закона №152-ФЗ «О персональных данных» по адресу: Российская Федерация, 119991, г.Москва, Ленинские
            горы, дом 1, строение 46 на имя декана Экономического факультета МГУ им.М.В.Ломоносова.</p>
        <p style="text-align: justify;">В случае отзыва Пользователем согласия на обработку персональных данных Оператор
            вправе продолжить обработку персональных данных без согласия Пользователя при наличии оснований, указанных в
            пунктах 2-11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ «О персональных
            данных».</p>
        <p style="text-align: justify;">В ходе обработки персональных данных Оператор вправе осуществлять: сбор, запись,
            систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу
            (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных
            данных Пользователя.</p>
        <p style="text-align: justify;">Передача персональных данных Пользователя третьим лицам не осуществляется, за
            исключением лиц, осуществляющих обработку персональных данных по поручению Оператора и от его имени, а также
            случаев, установленных законодательством. В случае участия Пользователей в мероприятиях, организуемых
            Оператором, последний вправе раскрыть соответствующие персональные данные Пользователей лицам, участвующим в
            организации такого мероприятия.</p>
        <p style="text-align: justify;">Оператор имеет право вносить изменения в настоящее Соглашение в любое время. При
            внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения
            вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.</p>
        <p style="text-align: justify;">Действующая редакция всегда находится на странице по адресу: <a href="{% url 'agreement' %}#pda_agreement">https://home.umtechn.ru{% url 'agreement' %}</a></p>
    </div>
</body>

</html>
