<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Паттерны проектирования</title>
</head>
<body><!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(53512972, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });

</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/53512972" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139390565-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-139390565-1');

</script>


<h1>Паттерны проектирования:</h1>
<ul>
    <li>Наследование - <i>templates/</i></li>
    <li>Декораторы - <i>views.py</i></li>
    <li>Адаптеры - <i>apps/social_auto_connect.py</i></li>
    <li>Мост - <i>Сайт в целом</i></li>
    <li>Компоновщик - <i>models.py</i></li>
</ul>
</body>
</html>