<a class="button is-fullwidth is-link" onclick="show_modal(1)">{{ houses.current.name }}</a>

<div class="modal" id="modal1">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">ДОМА</p>
            <button class="delete" aria-label="close" onclick="close_modal(1)"></button>
        </header>
        <section class="modal-card-body">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <div class="header">
                        </div>
                        {% for house in houses.other %}
                            <a href="{% url 'change_house' house_id=house.id %}">{{ house.name }} в
                                г.{{ house.city }}</a>
                            <br>
                        {% endfor %}
                        <span style="color: #ff253e;">{% if houses.other|length == 0 %}Добавлен только один дом{% endif %}</span>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button" onclick="close_modal(1)">Закрыть</button>
            <button class="button"><a href="{% url 'edit' %}">{% if houses.other|length != 0 %}Редактировать{% else %}Добавить{% endif %}</a></button>
        </footer>
    </div>
</div>
