html, body {
    padding: 0;
    margin: 0;
}

header {

}

main {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    background-color: darkgray;
    padding: 10px;
}

.card {
    width: 350px;
    height: auto;
    margin: 30px;
}