<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>

<body>
    <form id="hidden" action="{% url 'delete_room' home=home.id room=room.id %}" method="post">
        {% csrf_token %}
        {{ form.delete }}
    </form>
</body>
<script>
    function show_window() {
        const confirmation = confirm("Вы действительно хотите удалить комнату \"" + "{{room.name}}" + "\"? потребуется новый ключ активации");
        if (confirmation) {
            let form = document.getElementById("hidden");
            form.submit();
        } else {
            window.location.replace("{% url 'edit_home' home=home.id %}");
        }
    }
    document.addEventListener("DOMContentLoaded", show_window);

</script>

</html>
