<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8"> {% load recaptcha2 %}
    {% recaptcha_init %} <script>
        window.onload = function() {
            var $recaptcha = document.querySelector('#g-recaptcha-response');
            if ($recaptcha) {
                $recaptcha.setAttribute("required", "required");
            }
        };

    </script>
    <style>
        #g-recaptcha-response {
            display: block !important;
            position: absolute;
            margin: -78px 0 0 0 !important;
            width: 302px !important;
            height: 76px !important;
            z-index: -999999;
            opacity: 0;
        }

    </style>
    <title>{{ title }}</title>
</head>

<body>
    <form action="{% url 'add_room' home=home.id %}" method="post">
        {% csrf_token %}
        <h2>Комнаты</h2>
        <ul>
            {% for room in rooms %}
            <li>
                <strong>{{ room.name }}</strong>

                &nbsp;&nbsp;&nbsp;
                <a href="{% url 'edit_room' home=home.id room=room.id %}"><input type="button" value="Изменить"></a>
                <a href="{% url 'delete_room' home=home.id room=room.id %}"><input type="button" value="Удалить"></a>
                <br>
            </li>
            {% endfor %}
        </ul>
        {{ form_room.name }}
        {{ form_room.key }}
        <a target="_blank" href="{% url 'create_license' %}"><input type="button" value="Создать ключ"></a>
        {{ form.recaptcha }}
        <input type="submit" value="Добавить">
    </form>
    <form action="{% url 'edit_home' home=home.id %}" method="post">
        <h2>Изменение данных дома</h2>
        {% csrf_token %}
        {{ form.Name }}
        {{ form.City }}
        <input type="submit" value="Сохранить"> <a href="{% url 'edit' %}"><button type="button">Назад</button></a>
    </form>
    <script>
        function set_values() {
            document.getElementById("city").value = "{{ home.city }}";
            document.getElementById("name").value = "{{ home.name }}";
        }
        document.addEventListener("DOMContentLoaded", set_values);

    </script>
</body>

</html>
